# 4.6. Combining & Exporting Data - orders_products_merged

## This script contains the following points:
#### 01. Importing libraries
#### 02. Set path
#### 03. Importing new data
#### 04. Importing existing data
#### 05. Checking fro memory usage
#### 06. Attempt to merge
#### 07. The final output
#### 08. Export data to pkl

#### 01. Importing libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

##### 02. Set path

In [2]:
# Set path

path = r'C:\Users\Asus\OneDrive\Documents\Data Analytics\Data Immersion\4. Python Fundamentals for Data Analysts\05-05-2023 Instacart Basket Analysis'

In [3]:
# Check path

path

'C:\\Users\\Asus\\OneDrive\\Documents\\Data Analytics\\Data Immersion\\4. Python Fundamentals for Data Analysts\\05-05-2023 Instacart Basket Analysis'

#### 03. Importing new data

In [4]:
# Import orders_products_combined data in pickle format

df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [5]:
# Check orders_products_combined data

df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,merge_products
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [6]:
# Check the number of rows and columns in df_orders_products_combined

df_orders_products_combined.shape

(32434489, 10)

#### 04. Importing existing data

In [7]:
# Import products_checked data

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = 0)

In [8]:
# Check df_products data

df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# Check the number of rows and columns in df_prods

df_prods.shape

(49672, 5)

#### 05. Checking for memory usage

#### df_orders_products_combined

In [10]:
# Memory usage of df_orders_products_combined

df_orders_products_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       int32
 8   reordered               int8
 9   merge_products          category
dtypes: category(1), float16(1), int32(4), int8(4)
memory usage: 958.9 MB

In [11]:
# Change types for df_orders_products_combined data set


df_orders_products_combined['add_to_cart_order']=df_orders_products_combined['add_to_cart_order'].astype('float16')
df_orders_products_combined['reordered']=df_orders_products_combined['reordered'].astype('float16')

In [12]:
# Check output to see memory usage

df_orders_products_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       float16
 8   reordered               float16
 9   merge_products          category
dtypes: category(1), float16(3), int32(3), int8(3)
memory usage: 928.0 MB

#### df_products data

In [13]:
# Memory usage of df_products

df_prods.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49672 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.3+ MB

In [14]:
# Change types for df_products data set

df_prods['product_id']=df_prods['product_id'].astype('int32')
df_prods['aisle_id']=df_prods['aisle_id'].astype('int32')
df_prods['department_id']=df_prods['department_id'].astype('int32')

In [15]:
# Check output to see memory usage

df_prods.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49672 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int32
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int32
 3   department_id  49672 non-null  int32
 4   prices         49672 non-null  float64
dtypes: float64(1), int32(3), object(1)
memory usage: 1.7+ MB

#### 06. Attempt to merge

In [16]:
# Attempt a merge

df_orders_products_merged = df_prods.merge(df_orders_products_combined, on = ['product_id'], how = 'inner')

##### 07. The final output

In [17]:
# The final output

df_orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,merge_products
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5.0,0.0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1.0,1.0,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20.0,0.0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10.0,0.0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11.0,1.0,both

In [18]:
# Check the number of rows and columns in df_orders_products_merged

df_orders_products_merged.shape

(32404859, 14)

##### 08. Export data to pkl

In [19]:
# Export data to pkl

df_orders_products_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))