## 4.6. Combining & Exporting Data

## This script contains the following points:
#### 01. Importing libraries
#### 02. Set path
#### 03. Import existing data
#### 04. Import new data
#### 05. Checking for memory usage
#### 06. Attempt to merge
#### 07. The final output
#### 08. Export data to pkl

#### 01. Importing libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

#### 02. Set path

In [2]:
# Set path

path = r'C:\Users\Asus\OneDrive\Documents\Data Analytics\Data Immersion\4. Python Fundamentals for Data Analysts\05-05-2023 Instacart Basket Analysis'

In [3]:
# Check path

path

'C:\\Users\\Asus\\OneDrive\\Documents\\Data Analytics\\Data Immersion\\4. Python Fundamentals for Data Analysts\\05-05-2023 Instacart Basket Analysis'

#### 0.3. Import existing data

In [4]:
# Import ords data

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = 0)

In [5]:
# Check ords data

df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

#### 04. Import new data

In [6]:
# Import order_products_prior data

df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [7]:
# Check order_products_prior data

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
# Check ords shape

df_ords.shape

(3421083, 6)

In [9]:
# Check ords_prior shape

df_ords_prior.shape

(32434489, 4)

#### 05. Checking for memory usage

##### df_ords data

In [10]:
# Memory usage of df_ords

df_ords.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(5)
memory usage: 182.7 MB

In [11]:
# Change types for df_ords data set

df_ords['order_id']=df_ords['order_id'].astype('int32')
df_ords['user_id'] = df_ords['user_id'].astype('int32')
df_ords['order_number']=df_ords['order_number'].astype('int8')
df_ords['orders_day_of_week']=df_ords['orders_day_of_week'].astype('int8')
df_ords['order_hour_of_day']=df_ords['order_hour_of_day'].astype('int8')
df_ords['days_since_prior_order']=df_ords['days_since_prior_order'].astype('float16')

In [12]:
# Check output to see memory usage

df_ords.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
dtypes: float16(1), int32(2), int8(3)
memory usage: 68.5 MB

##### df_ords_prior data

In [13]:
# Memory usage of df_ords_prior data

df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [14]:
# Change types for df_ords_prior data set 

df_ords_prior['product_id'] =df_ords_prior['product_id'].astype('int32')
df_ords_prior['reordered']=df_ords_prior['reordered'].astype('int8')
df_ords_prior['add_to_cart_order']=df_ords_prior['add_to_cart_order'].astype('int32')
df_ords_prior['order_id']=df_ords_prior['order_id'].astype('int32')

In [15]:
# Check output to see memory usage

df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int32
 3   reordered          int8
dtypes: int32(3), int8(1)
memory usage: 402.1 MB

#### 06. Attempt to merge

In [16]:
# Attemp a merge

df_merged_large = df_ords.merge(df_ords_prior, on = ['order_id'], how = 'inner', indicator = "merge_products")

In [17]:
# The frequency of a merge

df_merged_large['merge_products'].value_counts(dropna = False)

both          32434489
left_only            0
right_only           0
Name: merge_products, dtype: int64

##### 07. The final output

In [18]:
# The final output

df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,merge_products
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [19]:
# Check the number of rows and columns in df_merged_large

df_merged_large.shape

(32434489, 10)

##### 08. Export data to pkl

In [20]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))